<!-- <h1>Hello World!</h1>
<h1>{{ description }}</h1>
<div #name></div> -->
<!-- <hinv-rooms></hinv-rooms> -->
<!-- <hinv-container
  ><hinv-rooms></hinv-rooms><hinv-employee></hinv-employee
></hinv-container> -->
<!-- <div [ngSwitch]="user">
  <div *ngSwitchCase="'admin'"></div>
  <div *ngSwitchCase="'staff'">You be slave</div>
  <div *ngSwitchDefault="">Not logged in</div>
</div> -->

<!-- <div><ng-template #user></ng-template></div> -->
<!-- <div *appPermission="['agent', 'admin']"></div> -->
<hinv-product-list></hinv-product-list>
